.assignment{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.assignment-left{
    width: 10%;
    background-color: #f37221;
    height: 100vh;
}
.assignment-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 600px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.assignment-body__img{
    width: 25%;
}
.assignment-body__img-item{
    height: 600px;
    width: 100%;
    animation: faded ease 1s;
    border-radius: 5px;
}
@keyframes faded {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{ 
        opacity: 1;
        transform: translateX(0);
    }
}
.assignment-body__center-title{
    color: #f37221;
    font-size: 3rem;
}
.assignment-body__center-name{
    font-size: 2rem;
    padding: 20px 0;
}
.assignment-body__center-id{
    font-size: 1.8rem;
}
.assignment-body__center{
    width: 60%;
    text-align: center;
    margin-right: 10%;
}
.assignment-body__center-child{
    width: 100%;
}
.assignment-body__center-child-list{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.assignment-body__center-child-list-work{
    border: 3px solid #f37221;
    height: 115px;
    width: 25%;
    border-radius: 8px;
    position: relative;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
}
.center-child-list-work-title{
    position: absolute;
    top: -11px;
    right: 30%;
    width: 40%;
    padding: 3px 0;
    border-radius: 8px;
    background-color: #f37221;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.center-child-list-work-title-use{
    display: flex;
    width: 100%;
    line-height: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:768px) {
    .assignment-body__center-child-list,
    .assignment-body__center-child-list-work {
        flex-direction: column;  
    }
    .assignment-body__center-title{
        line-height: 30px;
    }
    .assignment-body__center-child-list-work{
        width: 100%;
        margin: 10px 0;
        height: 70px;
    }
    .assignment-body__img,
    .assignment-body__img-item{
        height: 120px;
    }
}
.center-child-list-work-title-use-link{
    width: 50%;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 1.6em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}
.center-child-list-work-title-use-link:hover{
    opacity: 1;
    background-color: rgba(148, 30, 30, 0.1);;
    border-color: rgba(148, 30, 30, 0.1);
}
.center-child-list-work-title-use-linnk-item{
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
}